* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: 'Montserrat';
  color: white;
}

.container {
  width: 100%;
  max-width: 1200px;
  height: 100vh;
  background-image: url("../img/dollar-1362244_1920.jpg");
  background-size: cover;
  opacity: 0.8;
  margin: 0 auto;
}

.background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  margin: 0 auto;
}

.background h1 {
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  font-size: 2.5rem;
  margin: 5% 0 0 0;
  line-height: 4rem;
  border-bottom: 2px solid white;
  padding-bottom: 20px;
}

@media (min-width: 460px) {
  .background h1 {
    font-size: 3rem;
  }
}

@media (min-width: 640px) {
  .background h1 {
    font-size: 4rem;
  }
}

.form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
  padding: 10px;
  height: 55%;
  font-size: 2.2rem;
  border-bottom: 2px solid white;
}

.form__currency-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 65%;
}

@media (min-width: 640px) {
  .form__currency-container {
    width: 50%;
  }
}

@media (min-width: 1024px) {
  .form__currency-container {
    width: 35%;
  }
}

.form__amount-input {
  width: 70%;
  padding: 10px 20px 10px 10px;
  font-size: 1.8rem;
  background-color: lightblue;
  border: 2px solid white;
  -webkit-box-shadow: 0 0 2px white;
          box-shadow: 0 0 2px white;
  border-radius: 5px;
  text-align: right;
  -moz-appearance: textfield;
}

@media (min-width: 460px) {
  .form__amount-input {
    width: 65%;
  }
}

@media (min-width: 640px) {
  .form__amount-input {
    font-size: 3rem;
    width: 50%;
    padding: 15px;
  }
}

@media (min-width: 1024px) {
  .form__amount-input {
    width: 40%;
  }
}

.form__amount-input:focus {
  -webkit-box-shadow: 0 0 2px darkorange;
          box-shadow: 0 0 2px darkorange;
  border: 2px solid darkorange;
}

.form__amount-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.form__amount-input::-webkit-input-placeholder {
  font-family: 'Montserrat';
}

.form__amount-input:-ms-input-placeholder {
  font-family: 'Montserrat';
}

.form__amount-input::-ms-input-placeholder {
  font-family: 'Montserrat';
}

.form__amount-input::placeholder {
  font-family: 'Montserrat';
}

.form__amount-input:focus {
  -webkit-box-shadow: 3px solid darkorange;
          box-shadow: 3px solid darkorange;
}

.form__currency-input {
  padding: 4px;
  margin-left: 10px;
  font-size: 1.8rem;
  border-radius: 5px;
  padding: 0 10px;
  background-color: lightblue;
  border: 2px solid white;
  -webkit-box-shadow: 0 0 2px white;
          box-shadow: 0 0 2px white;
  cursor: pointer;
}

@media (min-width: 460px) {
  .form__currency-input {
    font-size: 2rem;
  }
}

@media (min-width: 640px) {
  .form__currency-input {
    font-size: 3.2rem;
  }
}

.form__currency-label {
  font-size: 2rem;
}

@media (min-width: 460px) {
  .form__currency-label {
    font-size: 2.2rem;
  }
}

@media (min-width: 640px) {
  .form__currency-label {
    font-size: 3.2rem;
  }
}

.form button {
  padding: 5px 30px;
  border: 3px solid white;
  background-color: black;
  color: white;
  font-size: 2rem;
  border-radius: 5px;
  letter-spacing: 1px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media (min-width: 460px) {
  .form button {
    font-size: 2.5rem;
  }
}

@media (min-width: 640px) {
  .form button {
    font-size: 4rem;
  }
}

.form button:hover {
  background-color: white;
  color: black;
}

.form p {
  display: block;
  padding: 0 20px 10px 20px;
  font-size: 1.8rem;
  line-height: 2.5rem;
}

@media (min-width: 640px) {
  .form p {
    font-size: 3rem;
    line-height: 4rem;
    padding: 0 50px 10px 50px;
  }
}

div.result {
  width: 100%;
  height: 30%;
  padding: 30px 30px;
  font-size: 1.5rem;
}

@media (min-width: 640px) {
  div.result {
    font-size: 3rem;
  }
}

div.result h2 {
  font-weight: 400;
  width: 100%;
  text-align: center;
  padding: 20px 0;
  color: darkorange;
  font-weight: 500;
}
/*# sourceMappingURL=style.css.map */